.wrapper {
  display: none;
}

@media screen and (min-width: 1111px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .link {
    margin-right: 3.2rem;
    text-decoration: none;
    color: var(--clr-primary-two);
  }

  .link:hover {
    color: var(--clr-neutral-one);
  }

  .link:last-child {
    margin-right: 0;
  }
}
