.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-bottom: 5rem;
}

.wrapper button {
  display: none;
}

.logo,
.hamburger {
  cursor: pointer;
  z-index: 200;
}

@media screen and (min-width: 1111px) {
  .wrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12rem;
  }

  .hamburger {
    display: none;
  }

  .wrapper button {
    display: block;
  }
}
