.simplify {
  background-color: var(--clr-primary-one);
  color: var(--clr-neutral-four);
  background-image: url('/images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position-y: 7rem;
  padding-top: 10.5rem;
  padding-bottom: 9rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.4rem;
  padding: 0 4rem;
}

.simplify button {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1111px) {
  .simplify {
    background-image: url('/images/bg-simplify-section-desktop.svg');
    background-position: center;
    padding-top: 6.8rem;
    padding-bottom: 6.5rem;
  }

  .inner-wrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    max-width: 44rem;
    font-size: 3.6rem;
    line-height: 4rem;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }

  .inner-wrapper button {
    margin-left: 0;
    margin-right: 0;
  }
}
