.btn {
  display: block;
  border: none;
  border-radius: 3rem;
  background-color: var(--clr-primary-one);
  color: var(--clr-neutral-four);
  font-size: 1.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  padding: 0 3.2rem;
  cursor: pointer;
  box-shadow: 0 3px 14px var(--clr-primary-one);
}

.btn.alternate {
  background-color: var(--clr-neutral-four);
  color: var(--clr-primary-one);
}
